@{
    ViewBag.Title = "Potwierdź adres e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank You for Your e-mail confirmation. @Html.ActionLink("Click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
