@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Account blocked";
}

<hgroup>
    <h1 class="text-danger">Account blocked.</h1>
    <h2 class="text-danger">This account has been blocked. Please try again later.</h2>
</hgroup>
